html
	head
		title #{title}
		link(rel='stylesheet', href='/style/hello.css')
		script(type="text/javascript", src="/js/hello.js")
	body
		h1 Hello #{username}
		#content(onclick="sayHello();") click
			